/* Global styles ============= 
html,
body {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #fdcc52;
  transition: all .35s;
}

a:hover, a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: rgb(255, 255, 255);
}
*/
img {
  width: 70%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 1px;
}

/* Nav Bar */
#navbarNav {
  justify-content: end;
}

.nav-link {
  font-family: Catamaran;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}


#mainLogo {
  font-family: 'Pacifico', cursive;
  font-size: 28px;
  line-height: 49.17px;
  align-items: center;
  font-weight: 900;
  color: rgb(255, 224, 0, 1);
  text-shadow: rgba(0, 0, 0, 0.25) 0, 4, 4, 0;
  -webkit-text-stroke: 1px rgba(49, 49, 49, 1);
}


/* Hero section */
.masthead {
  position: relative;
  background: url(../images/bg-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.hidden-spacer {
  height: 56px;
}

h1 {
  font-weight: 400;
  font-size: xxx-large;
  line-height: 1.1;
  padding-bottom: 10%;
  display: flex;
  flex-wrap: wrap;
}

#ctaButton {
  color: #ffffff;
  border: solid 1px #ffffff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.035em;
  padding: 5px 30px 5px 30px;
}

@media (min-width: 320px) {
  .col-sm {
    padding: 5%;
  }
}

@media (max-width: 425px) {
  .col-sm.hero-copy {
    padding-top: 10%;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 40px;
  }
}

/* Download section */



/* Testimonials section */