/* Global styles ============= 
html,
body {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #fdcc52;
  transition: all .35s;
}

a:hover, a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: rgb(255, 255, 255);
}
*/
img {
  width: 70%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 1px;
}

/* Nav Bar */
#navbarNav {
  justify-content: end;
}

.nav-link {
  font-family: Catamaran;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}


#mainLogo {
  font-family: 'Pacifico', cursive;
  font-size: 28px;
  line-height: 49.17px;
  align-items: center;
  font-weight: 900;
  color: rgb(255, 224, 0, 1);
  text-shadow: rgba(0, 0, 0, 0.25) 0, 4, 4, 0;
  -webkit-text-stroke: 1px rgba(49, 49, 49, 1);
}


/* Hero section */
.masthead {
  position: relative;
  background: url(../images/bg-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.hidden-spacer {
  height: 56px;
}

h1 {
  font-weight: 400;
  font-size: xxx-large;
  line-height: 1.1;
  padding-bottom: 10%;
  display: flex;
  flex-wrap: wrap;
}

#ctaButton {
  color: #ffffff;
  border: solid 1px #ffffff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.035em;
  padding: 5px 30px 5px 30px;
}

@media (min-width: 320px) {
  .col-sm {
    padding: 5%;
  }
}

@media (max-width: 425px) {
  .col-sm.hero-copy {
    padding-top: 10%;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 40px;
  }
}

/* Download section */
.download {
  background: rgba(253, 201, 73, 1);
  height: 100%;
}

.section-heading {
  font-weight: 300;
  font-size: xxx-large;
  line-height: 1;
  align-items: center;
  text-align: center;
  letter-spacing: -0.005em;
  color: #000000;
  padding-top: 29%;
  padding-bottom: 5%;
}

.downloadsCopy {
  font-family: Catamaran;
  font-style: normal;
  font-weight: 500;
  font-size: small;
  line-height: 1.1;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
  padding-bottom: 3%;
}

.badgesLink {
  display: flex;
  padding-right: 0%;
  padding-bottom: 15%;
  margin-right: 0%;
}

#badges-link {
  padding: 0%;
  margin: 0%;
}

/* Testimonials section */
.testimonials-heading {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 300;
  font-size: xx-large;
  line-height: 113%;
  align-items: center;
  text-align: center;
  color: #000000;
}

div.testimonial-item {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.testimonial-item img {
  border-radius: 50%;
  padding-top: 10%;
}

.cardTitle .cardBody {
  display: flex;
  justify-content: center;
  text-align: center;
}

h5.cardTitle {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 500;
  font-size: large;
  line-height: 113%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.8);
  padding-top: 5%;
}

p.cardBody {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 500;
  font-size: large;
  line-height: 113%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.8);
}

.bottomCard {
  padding-bottom: 20%;
}

/* CTA section */
.signup-section {
  position: relative;
  background: url(../images/SF.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}

.subCopy h2 {
  padding-top: 30%;
  padding-bottom: 15%;
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  font-size: xx-large;
  line-height: 1;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.subForm {
  display: flex;
  justify-content: center;
}

.form-control {
  border-radius: 5px;
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  font-size: x-small;
  color: #4D4D4D;
  padding: 5px 100px 5px 5px;
}

.subButton {
  border-radius: 30px;
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 700;
  font-size: x-small;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Contact section */
.bg-black {
  background: #000000;
  height: 70vh;
}

.contactCards {
  align-items: center;
  padding: 30% 5% 5% 5%;
}

.card-body {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 40px;
}

#extraSpace {
  margin: 35px 29px 35px 34px;
}

.card-body h4 {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.8);
}

.card-body p {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 761px) {
  div.card {
    margin-bottom: 3%;
  }
}

.socialMedia {
  display: flex;
  justify-content: center;
}

.socialMedia a {
  padding: 10px;
}

/* Footer */
.graybg {
  background-color: #313131;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  display: flex;
  font-family: 'Catamaran';
  font-size: x-small;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}